.dashboard-grid{
display: grid;
/* height: 800px; */
/* grid-template-columns: repeat(4, 1fr); */
grid-template-columns: repeat(3, 200px) 1fr;
grid-template-rows: 100px 200px 200px;
/* justify-items: center; */
align-items: center;
gap: 1rem;
}



.intro{
  grid-column: 1/4;

}


.my-data{
  grid-column: 4;
  grid-row: 1/-1;
  align-self: start;
  justify-self: right;
  padding-top: 3rem;
  padding-left: 2rem;
}

@media screen and (max-width: 1000px) {
    .dashboard-grid{
      grid-template-columns: repeat(2, 200px) 1fr;
      grid-template-rows: 1fr 200px 200px 200px;
    }

    .intro{
      grid-column: 1/3;
    }

    .my-data{
      grid-column: 3;
    }
  }

  @media screen and (max-width: 790px) {
    .dashboard-grid{
      grid-template-columns: 200px 1fr;
      grid-template-rows: 1fr repeat(5, 200px);
    }

    .intro{
      grid-column: 1/2;
    }

    .my-data{
      grid-column: 2;
    }
  }